<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" id="contents">
	<div id="left">
	</div>
	
	<div id="main">
		<h1 th:text="${board.board_name}"></h1>
		<div sec:authorize="isAuthenticated()" th:if="${board_no != 2}">
		<input type="button" value="글쓰기" th:onclick="|location.href='/write/' + ${board.board_no}|">
		</div>
		<!-- 관리자한테만 공지사항 글쓰기가 보이도록? -->
		<div th:if="${#authorization.expression('hasRole(''ADMIN'')')} and board_no == 2">
		<input type="button" value="공지사항 작성" th:onclick="|location.href='/write/' + ${board.board_no}|">
		</div>
		<!--검색 기능-->
		<div class="search">
			<select id="recordSize" name="recordSize">
				<option value="5" selected>5개씩</option>
				<option value="10">10개씩</option>
				<option value="15">15개씩</option>
				<option value="20">20개씩</option>
				<option value="25">25개씩</option>
				<option value="50">50개씩</option>
				<option value="100">100개씩</option>
			</select>
			<select id="searchType" name="searchType" title="검색 유형 선택">
				<option value="">전체 검색</option>
				<option value="title">글 제목</option>
			</select>
			<input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
			<button type="button" class="bt_search" th:data-boardno="${board_no}" onclick="search(this)">
				<i class="fas fa-search"></i><span class="skip_info">검색</span>
			</button>
		</div>

		<table>
			<tr>
				<th class="size-60">글 번호</th>
				<th class="size-400">글 제목</th>
				<th class="size-100">작성자</th>
				<th class="size-100">작성일</th>
				<th class="size-60">조회수</th>
			</tr>
			<tr th:each="dto: ${list}">
				<td class="align-center" th:text="${dto.post_no}"></td>
				<td class="padding-left-5"><a th:text="${dto.title}" th:href="@{'/view/' + ${dto.post_no}}"></a></td>
				<td class="align-center" th:text="${dto.user_id}"></td>
				<td class="align-center" th:text="${dto.create_date}"></td>
				<td class="align-center" th:text="${dto.hit_cnt}"></td>
			</tr>
		</table>
		<br>
		<div>
			<ul class="page">
				<li th:if="${page.existPrevPage}" class="prev">
					<a class="page_link" th:href="@{'/board/' + ${board_no} + '/' + ${page.startPage - 1} + '?keyword=' + ${page.keyword}}">이전</a>
				</li>
				<li th:each="number : ${#numbers.sequence(page.startPage, page.endPage)}" class="page_item">
					<a class="page_link_bold" th:if="${page.page == number}"
					   th:href="@{'/board/' + ${board_no} + '/' + ${number} + '?keyword=' + ${page.keyword}}"
					   th:text="${number}">
					</a>
					<a class="page_link" th:if="${page.page != number}"
					   th:href="@{'/board/' + ${board_no} + '/' + ${number} + '?keyword=' + ${page.keyword}}"
					   th:text="${number}">
					</a>
				</li>
				<li th:if="${page.existNextPage}" class="next">
					<a class="page_link" th:href="@{'/board/' + ${board_no} + '/' + ${page.endPage + 1} + '?keyword=' + ${page.keyword}}">다음</a>
				</li>
			</ul>
		</div>

	</div>
	
	<div id="right">
	</div>
</div>
</html>