<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Web Apps Practice</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</head>
<body>
	<header>
		<img th:src="@{/img/pets.png}">
		<h1 class="header-title">멍멍멍 강아지 멍멍멍</h1>
	</header>

	<nav>
		<ul id="menu">
			<li><a th:href="@{/}">홈</a></li>
			<li th:each="board : ${menu}"><a th:href="'/board/' + ${board.board_no}" th:text="${board.board_name}">게시판</a></li>
			<li><a href="/inquire">문의하기</a></li>
			<li th:if="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/member}">회원정보</a></li>
			<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/manage}">회원관리</a></li>
			<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/manageBoard}">게시판관리</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			<li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
			<li sec:authorize="isAnonymous()"><a th:href="@{/join}">회원가입</a></li>
		</ul>
	</nav>

	<th:block layout:fragment="content"></th:block>

	<footer>
		<p>하랑이집</p>
	</footer>

</body>
</html>